@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

:root {
    --fretboard-height: 18.75;
    --number-of-strings: 6;
    --string-height: 0.625;
    --half-string-height: calc(var(--string-height) / 2);
    --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
    --double-dots-fretmark-position-1: calc(var(--fretboard-height) * 0.25);
    --double-dots-fretmark-position-2: calc(var(--fretboard-height) * 0.75);
    --note-dot-opacity: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #353535;
    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.settings {
    display: flex;
    color: #fff;
    padding: 20px;
    border-bottom: 1px solid #444;
    background: #282828;
}

.accidental-selector {
    margin-left: 20px;
}

select[name="instrument-selector"] {
    margin-left: 10px;
    margin-right: 10px;
}

label[for="number-of-frets-selector"] {
    margin-left: 30px;
    margin-right: 10px;
}

label[for="show-all-notes-selector"] {
    margin-left: 30px;
}

input[id="show-all-notes-selector"] {
    margin-right: 20px;
    height: 27px;
}

input[id="show-multiple-notes-selector"] {
    height: 27px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

label {
    margin: 0px 12px;
}

.fretboard {
    display: flex;
    flex-direction: column;

    background: #be975b url(../img/maple-wood-pattern.jpg);
    width: 100%;
    min-width: 1500px;
    height: calc(var(--fretboard-height) * 1rem);

    margin-top: 3.125rem;
}

.string {
    width: 100%;
    height: 100%;

    display: flex;
    position: relative;
}

.string:before {
    content: '';
    width: 100%;
    height: calc(var(--string-height) * 1rem);
    background: linear-gradient(#eee, #999);
    box-shadow: 76px 3px 10px #806233;
    z-index: 1;
    position: absolute;
    top: 1.375rem;
    top: calc(var(--string-top-position) * 1rem);
}

.note {
    display: flex;
    flex: 1;

    border-right: 0.75rem solid;
    border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;

    justify-content: center;
    align-items: center;

    position: relative;
}

.note:hover {
    cursor: pointer;
}

.note:first-child {
    background: #161717;
    min-width: 76px;

    flex-grow: 0;
    flex-shrink: 0;

    border-right: 12px solid;
    border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note:before {
    content: attr(data-note);

    width: 33px;
    height: 33px;

    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    color: black;
    background: orange;

    z-index: 2;
    opacity: var(--note-dot-opacity);
}

.single-dot-fretmark:after, .double-dots-fretmark:before, .double-dots-fretmark:after {
    content: '';
    position: absolute;

    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #483C32;
}

.single-dot-fretmark:after {
    top: calc(var(--fretboard-height) / 2 * 1rem);
    transform: translate(0, -50%);
}

.double-dots-fretmark:before {
    top: calc(var(--double-dots-fretmark-position-1) * 1rem);
    transform: translate(-140%, 70%);
}

.double-dots-fretmark:after {
    top: calc(var(--double-dots-fretmark-position-2) * 1rem);
    transform: translate(-140%, -170%);
}

.notes {
    width: 100%;
    color: #fff;
    font-size: 2.5rem;

    display: flex;
    justify-content: center;
}

.notes span {
    padding: 10px;
    cursor: pointer;
}

.notes span:hover {
    color: orange;
}

.show-multiple-notes-block {
    display: none;
}