@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background: black;
    font-family: Lato, sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.metronome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 500px;
    height: 450px;
}

.bpm-display {
    width: 100%;

    text-align: center;
    color: orange;
}

.bpm-display .tempo {
    font-size: 5em;
    font-weight: bold;

    cursor: pointer;
}

.bpm-display .bpm {
    font-weight: bold;
    cursor: pointer;
}

.tempo-text {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;
}

.tempo-settings {
    display: flex;
    justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 1px solid #ddd;

    text-align: center;
    font-size: 40px;

    cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
    background: orange;
    color: black;
    font-weight: bold;
}

.tempo-settings .decrease-tempo {
    font-size: 50px;
    line-height: 40px;
}

.tempo-settings .increase-tempo {
    font-size: 50px;
    line-height: 45px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;

    border-radius: 50%;

    background-color: orange;

    cursor: pointer;

    margin-top: -16px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;

    border-radius: 50%;

    background-color: orange;

    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;

    background: #ddd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;

    background: #ddd;
}

.start-stop {
    margin: 0 auto;

    width: 70px;
    height: 70px;

    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    background: orange;
    color: black;

    border-radius: 50%;

    cursor: pointer;
}

.start-stop:hover {
    background: gold;
}

.measures {
    display: flex;
    justify-content: center;

    font-weight: bold;
}

.measures .stepper {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid #ddd;

    text-align: center;
    font-weight: bold;

    margin: 0 5px;
    cursor: pointer;
}

.measures .bpm-count {
    font-size: 1.2em;
    margin-left: 7px;
    margin-right: 7px;
}

.measures .stepper:hover {
    color: black;
    background: orange;
}

.beats-per-minute-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

footer p {
    margin-top: -5rem;
}