@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #353535;
    font-family: Lato, sans-serif;
}

.carousel-item img {
    width: 50%;
    height: 50%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}